.btn {

    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        color: $color-grey-dark;
        font-size: $default-font-size;
        background-color: $color-pink-primary;
        display: inline-block;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        position: relative;
        transition: all .2s;
        animation-name: moveInButton;
        animation-duration: .5s;
        animation-delay: .75s;
        animation-timing-function: ease-out;
        animation-fill-mode: backwards;

    }


    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color: $color-black, $alpha: .2);

    }

    &-white {
        color: $color-grey-dark;
        background-color: $color-pink-primary;

        &::after {
            background-color: $color-pink-primary;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;

    }

}

.btn-text {

    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-pink-dark;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-pink-dark;
        padding: .3rem;
        transition: all .2s;

    }

    &:hover {
        background-color: $color-pink-dark;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: .15);
        transform: translateY(-.2rem);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color: $color-black, $alpha: .15);
        transform: translate(0);
    }
}

.btn--white {
    // Change for the <button> element
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-grey-dark;
    font-size: $default-font-size;
    background-color: $color-pink-primary;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 10rem;
    position: relative;
}